.title{text-align:center;
       color:RGB(222,49,99);
       margin:0;
       font-size:30px;
       padding-bottom:15px;}

.CarouselContainer{
  margin:30px 0;
}
.CarouselContainer :global .slick-slide{
  text-align:center;
  height:230px;
  background: #fff;
}

.CarouselContainer :global .slick-dots{
    overflow:hidden;/*不写这句会有不知名滚动条*/
    height:6px;
}

.CarouselContainer :global .slick-dots li button{
      background-color:RGB(180,180,180);
      opacity:1;
      margin:0 2px;
      width:24px;
      height:6px;
}
.CarouselContainer :global .slick-dots li button:hover{
      background-color:RGB(222,49,99);
      opacity:1;
}
.CarouselContainer :global .slick-active button{
      background-color:RGB(222,49,99) !important;    
}
